# Mac
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
public/

# Ignore XCFramework zip and sha256 files
YotraKit.zip
YotraKit.sha256

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# Maven
target/

# IDEA
.idea/
.run/
out/
generated/
*.iml
*.ipr
*.iws